<body>
  <div class="contents row">

    <div class="top_link">
          <br>
    <% number = rand(1..3644)%>
    <img src="assets/shikiho.jpg">
    <br><br>
<!--  >四季報を暗記し、インサイトを磨く<
 -->      ＞<%=link_to '暗記する　　', "/anki/#{number}", method: :get %><br>
      ＞<%=link_to 'ランキング　', "/corrects", method: :get %><br>
      ＞<%=link_to 'コメント一覧', "/comments", method: :get %><br>
    </div>

  </div>
</body>
